menu "BASE_CONFIG"

    menu "RESET_VECTOR"

    config EMU_BASE_RESET_VECTOR
        hex "Set EMU Reset Vector"
        default 0x80000000
        help
            Set the reset vector for the EMU platform.

    config NZEA_NPC_BASE_RESET_VECTOR
        hex "Set NZEA NPC Reset Vector"
        default 0x80000000
        help
            Set the reset vector for the NZEA platform.
            
    config NZEA_YSYXSOC_BASE_RESET_VECTOR
        hex "Set NZEA YSYXSOC Reset Vector"
        default 0x30000000
        help
            Set the reset vector for the NZEA platform.
            
    config NZEA_JYD_REMOTE_BASE_RESET_VECTOR
        hex "Set NZEA JYD_REMOTE Reset Vector"
        default 0x80000000
        help
            Set the reset vector for the NZEA platform.

    endmenu

endmenu
