menu "BASE_CONFIG"

    menu "RESET_VECTOR"

    config EMU_BASE_RESET_VECTOR
        hex "Set EMU Reset Vector"
        default 0x80000000
        help
            Set the reset vector for the EMU platform.

    config NZEA_BASE_RESET_VECTOR
        hex "Set NZEA Reset Vector"
        default 0x80000000
        help
            Set the reset vector for the NZEA platform.

    endmenu

endmenu
