[workspace]
resolver = "2"
members = [
    "remu_macro",
    "remu_cli",
    "remu_debugger",
    "remu_logger",
    "remu_simulator",
    "remu_state",
    "remu_harness", "remu_fmt", "remu_types",
]

[profile.release]
codegen-units = 1
lto           = true
panic         = "abort"
strip         = true

[workspace.dependencies]
thiserror = "2.0.17"
miette = "7.6.0"
anyhow = "1.0.100"

tracing = "0.1.44"

petgraph = "0.8.3"

clap = "4.5.54"
winnow = "0.7.14"
