[workspace]
resolver = "2"
members = [
    "remu_macro",
    "remu_cli",
    "remu_core"
]

[profile.release]
codegen-units = 1
lto           = true
panic         = "abort"
strip         = true

[workspace.dependencies]
thiserror = "2.0.17"
anyhow = "1.0.100"
