[workspace]
resolver = "2"
members = [
    "remu_macro",
    "remu_cli"
]

[profile.release]
codegen-units = 1
lto           = true
panic         = "abort"
strip         = true

[workspace.dependencies]
owo-colors = "4.2.2"
snafu = "0.8.6"
enum_dispatch = "0.3.13"
log = "0.4.27"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
tracing-appender = "0.2.3"
tracing-error = "0.2.1"
clap = { version = "4.5.41", features = [ "derive", "color" ] }
bitflags = "2.9.1"
petgraph = "0.8.2"
tokio = { version = "1.47.0", features = ["full"] }
lazy_static = "1.5.0"
pest = "2.8.1"
pest_derive = "2.8.1"
cfg-if = "1.0.1"
comfy-table = "7.1.4"
