[workspace]
resolver = "2"
members = [
    "remu_macro",
    "remu_cli",
    "remu_core"
, "remu_logger"]

[profile.release]
codegen-units = 1
lto           = true
panic         = "abort"
strip         = true

[workspace.dependencies]
thiserror = "2.0.17"
anyhow = "1.0.100"

tracing = "0.1.44"

petgraph = "0.8.3"

pest = "2.8.5"
pest_derive = "2.8.5"
