menu "Debugging"
    config DEBUG_RL_HISTORY_SIZE
        int "Readline History Size"
        default 1000
        help
            Size of history for readline.

    config DEBUG_DEFAULT_ITRACE_ENABLE
        bool "Default Itrace Enable"
        default n
        help
            Enable Itrace by default.

    config DEBUG_DEFAULT_WaveTRACE_ENABLE
        bool "Default Wavetrace Enable"
        default n
        help
            Enable WaveTrace by default.
endmenu
