menu "Nzea Platform"
    menu "Ysyxsoc Memory Regions"

        config Nzea_Ysyxsoc_MEM_SRAM
            string "EMU SRAM Base Region"
            default "0x0f000000 0x00002000 0b00000111"
            help
                Region for EMU platform's SRAM.

        config Nzea_Ysyxsoc_MEM_MROM
            string "EMU MROM Base Region"
            default "0x20000000 0x00001000 0b00000101"
            help
                Region for EMU platform's MROM.

        config Nzea_Ysyxsoc_MEM_VGA
            string "EMU VGA Base Region"
            default "0x21000000 0x00200000 0b00000011"
            help
                Region for EMU platform's VGA.

        config Nzea_Ysyxsoc_MEM_FLASH
            string "EMU FLASH Base Region"
            default "0x30000000 0x10000000 0b00000111"
            help
                Region for EMU platform's FLASH.

        config Nzea_Ysyxsoc_MEM_PSRAM
            string "EMU PSRAM Base Region"
            default "0x80000000 0x00400000 0b00000111"
            help
                Region for EMU platform's PSRAM.

        config Nzea_Ysyxsoc_MEM_SDRAM
            string "EMU SDRAM Base Region"
            default "0xa0000000 0x02000000 0b00000111"
            help
                Region for EMU platform's SDRAM.

    endmenu

    menu "Npc Memory Regions"

        config Nzea_Npc_MEM_SDRAM
            string "Nzea Npc SRAM Base Region"
            default "0x80000000 0x08000000 0b00000111"

        config Nzea_Npc_MEM_LSRAM
            string "Nzea Npc LSRAM Base Region"
            default "0xb0000000 0x00020000 0b00000111"
        
    endmenu

    menu "jyd Regions"

        config Nzea_Jyd_MEM_IROM
            string "Nzea Jyd IROM Base Region"
            default "0x80000000 0x00004000 0b00000111"

        config Nzea_Jyd_MEM_DRAM
            string "Nzea Jyd DRAM Base Region"
            default "0x80100000 0x00080000 0b00000011"

    endmenu

    menu "jyd remote Regions"

        config Nzea_JydRemote_MEM_IROM
            string "Nzea JydRemote IROM Base Region"
            default "0x80000000 0x00004000 0b00000111"

        config Nzea_JydRemote_MEM_DRAM
            string "Nzea JydRemote DRAM Base Region"
            default "0x80100000 0x00080000 0b00000011"

    endmenu
endmenu